.cells {
    display: flex;
    width: 300px;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.cell {
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 5px;
  }