.pause_button {
    background-color: transparent;
    color: rgba(255,255,255,0.8);
    border: none;
    display: inline-block;
    width: 100px;
    animation: pulse 2s infinite;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  } 
  .pause_button:hover {
    animation: none;
    transform: scale(1.2);
  }

