:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color: #30384b;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


